---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Gtag from "./Gtag.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/hyattoku/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>百徳ツール | {title}</title>
    <Gtag />
  </head>
  <body>
    <Header />
    <main>
      <article>
        <div class="article-header mb-6">
          <h1 class="text-3xl text-gray-800 text-center m-2">{title}</h1>
          <p class="text-center text-gray-600">
            {description}
          </p>
        </div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
